chemprop==2.1.2
torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0
pytorch-lightning==2.5.1

rdkit==2024.9.6
descriptastorus==2.8.0
padelpy==0.1.16
mhfp==1.9.6
mordredcommunity==2.0.6

scikit-learn==1.6.1
xgboost==2.1.4
numpy==1.26.4
pandas==2.2.3
scipy==1.15.2

matplotlib==3.10.1
seaborn==0.13.2
plotly==6.0.1
squarify==0.4.4

tqdm==4.67.1
joblib==1.4.2
PyYAML==6.0.2
requests==2.32.3